certificacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/certificacion"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/certificacion"
    name="CertificacionService">

    <!-- Tipos -->
    <types>
        <xsd:schema targetNamespace="http://example.com/certificacion">
            <xsd:element name="RegistrarCertificacionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estudianteId" type="xsd:string"/>
                        <xsd:element name="tipo" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="RegistrarCertificacionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estado" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Mensajes -->
    <message name="RegistrarCertificacionRequest">
        <part name="parameters" element="tns:RegistrarCertificacionRequest"/>
    </message>
    <message name="RegistrarCertificacionResponse">
        <part name="parameters" element="tns:RegistrarCertificacionResponse"/>
    </message>

    <!-- PortType -->
    <portType name="CertificacionPortType">
        <operation name="RegistrarCertificacion">
            <input message="tns:RegistrarCertificacionRequest"/>
            <output message="tns:RegistrarCertificacionResponse"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="CertificacionBinding" type="tns:CertificacionPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="RegistrarCertificacion">
            <soap:operation soapAction="http://example.com/certificacion/RegistrarCertificacion"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="CertificacionService">
        <port name="CertificacionPort" binding="tns:CertificacionBinding">
            <soap:address location="http://localhost:8088/CertificacionService"/>
        </port>
    </service>
</definitions>
